# upstream trees and toolchains (cloned/built separately, see README)
/chipyard/
/esp-isa-sim/
/esp-llvm/
/esp-opcodes/
/esp-tests/
/esp-tools/
/hwacha/
/install/
/install-hlog/
/build/
# build outputs
hwacha-cc/build/
*.riscv
*.ll
*.o
hwacha-cc/test/*/*.s
hwacha-cc/test/*/*.ct.ll
hwacha-cc/test/llama/run_x86
hwacha-cc/test/gpt2/gpt2_x86
*.err
hwacha-cc/test/*/results/*.err
hwacha-cc/test/berkeley/*.riscv
.metals/
.vscode/
.bloop/
hwacha-cc/test/mlir/*.ll.*.mlir
hwacha-cc/test/*/*.gpu.ll
hwacha-cc/test/diffusion/ckpt.bin
hwacha-cc/test/diffusion/*.log
hwacha-cc/test/diffusion/diffusion_x86
hwacha-cc/test/mnist/*.bin
hwacha-cc/test/mnist/*.log
hwacha-cc/test/mnist/x86_*
hwacha-cc/test/torch/*.mlir
hwacha-cc/test/torch/*.ll
hwacha-cc/test/torch/*.riscv
hwacha-cc/test/torch/*.onnx
hwacha-cc/test/torch/*.onnx.v13
hwacha-cc/test/torch/*.torch.mlir
